/* BASIC RESET */
* { margin: 0; 
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background: #f3f2f2;
    color: #333;
}

/* HEADER */
.header {
    background: #111;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-weight: bold;
    font-size: 22px;


   
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav a:hover {
    opacity: 0.7;
}
.header button{
    background: #8e1919;
    padding: 10px 10px;
    font-size: 18px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}

/* HERO SECTION */
.hero {
    height: 80vh; /* Full screen height */
    background-image: url("fontpageimage/oooo.png");/* Your image path */
    background-size: cover;/* Fill screen */
    background-position: center;/* Center image */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #2d17bc;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* SECTIONS */
.section {
    padding: 50px 40px;
    background:white;
    margin: 20px 0;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 40px;
    margin-bottom: 10px;
}

/* CATEGORIES */

.categories .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    padding: 25px;
    border-radius: 8px;
    transition: 0.3s;
    flex: auto;

}

.card:hover {
    background: #e0e0e0;
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 15px 10px 5px;
    color: #1d1d1d;
    text-align: center;
}

button {
    background-color: #ff7a00;
    color: rgb(253, 253, 253);
    border: none;
    padding: 12px 80px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
   
}

button:hover {
    background-color: #e56b00;
     text-align: center;
}


/* FOOTER */
.footer {
    background: #111;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 20px;
}
